/* Reset browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Font Awesome */
@font-face {
    font-family: 'Font-Awesome';
    src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontawesome-webfont.woff2') format('woff2'),
         url('fontawesome-webfont.woff') format('woff'),
         url('fontawesome-webfont.ttf') format('truetype'),
         url('fontawesome-webfont.svg#fontawesome') format('svg');
    font-weight: 400;
    font-style: normal;

}
i {
    font-family: 'Font-Awesome';
}
/* Custom Styles */
header {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    color: #f2443d;
    font-size: 40px;
}
header .container {
    padding: 50px 0;
}

nav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    font-size:14px;
}
nav ul li a {
    color: #6c767f;
    font-weight: 800;
    text-decoration: none;
    transition: ease all 0.2s;
    padding: 10px;
}

nav ul li a:hover, nav ul li a.active {
    background: #444;
    color: #fff;
    border-radius: 6px;
}
.hero .container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0px #999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero .left-block {
    padding: 50px;
    max-width: 50%;
}

.hero .left-block h2 {
    font-size: 46px;
    font-weight: 800;
    color: #444;
}

.hero .left-block p {
    font-size: 36px;
    color: #444;
    padding: 25px 0;
    line-height: 44px;
}

.hero .right-block {
    padding: 50px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-weight: 800;
    width: 100%;
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 25px;
    transition: ease all 0.2s;
}

.btn.blue {
    background: #1591c4;
    color: #fff;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.btn.gray {
    background: #f2f2f2;
    color: #444;
    font-size: 28px;
    margin-bottom: 10px;
}

.btn:hover {
    transform: scale(1.1);
}