/* Reset browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: rgba(242,242,242,1);
background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(224,224,224,1)));
background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0', GradientType=0 );
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Font Awesome */
@font-face {
    font-family: 'Font-Awesome';
    src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontawesome-webfont.woff2') format('woff2'),
         url('fontawesome-webfont.woff') format('woff'),
         url('fontawesome-webfont.ttf') format('truetype'),
         url('fontawesome-webfont.svg#fontawesome') format('svg');
    font-weight: 400;
    font-style: normal;

}
i {
    font-family: 'Font-Awesome';
}
/* Custom Styles */
header {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
header .logo {
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    color: #f2443d;
    font-size: 40px;
}
header .container {
    padding: 50px 0;
}

nav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    font-size:14px;
}
nav ul li a {
    color: #6c767f;
    font-weight: 800;
    text-decoration: none;
    transition: ease all 0.2s;
    padding: 10px;
}

nav ul li a:hover, nav ul li a.active {
    background: #444;
    color: #fff;
    border-radius: 6px;
}
.hero .container {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 2px 0px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero .left-block {
    padding: 50px;
    max-width: 50%;
}

.hero .left-block h2 {
    font-size: 52px;
    font-weight: 800;
    color: #444;
}

.hero .left-block p {
    font-size: 36px;
    color: #444;
    line-height: 44px;
    margin: 25px 0 0;
}

.hero .right-block {
    padding: 50px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-weight: 800;
    width: 100%;
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 25px;
    transition: ease all 0.2s;
}

.btn.blue {
    background: #1591c4;
    color: #fff;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.btn.gray {
    background: #f2f2f2;
    color: #444;
    font-size: 28px;
    margin-bottom: 10px;
}

.btn:hover {
    transform: scale(1.1);
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card li {
    width: 30%;
    border-radius: 6px;
    box-shadow: 0px 4px 2px 0px #ccc;
    overflow: hidden;
}

.cards {
    padding: 50px 0;
}

.card li .card-pict {
    min-height: 300px;
    background: #929292;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 2px 2px #444;
    position: relative;
}

.card li .card-desc {
    padding: 10px;
    min-height: 175px;
    line-height: 28px;
}

h4 {
    color: #444;
    font-weight: 800;
    display: block;
}

.card-pict img {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 102%;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card li {
    width: 30%;
    border-radius: 6px;
    box-shadow: 0px 4px 2px 0px #ccc;
    overflow: hidden;
    background: #fff;
}

.cards {
    padding: 50px 0;
}

.card li .card-pict {
    min-height: 300px;
    background: #929292;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 2px 2px #444;
    position: relative;
}

.card li .card-desc {
    padding: 10px;
    min-height: 175px;
    line-height: 28px;
}

h4 {
    color: #444;
    font-weight: 800;
    display: block;
}

.card-pict img {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 102%;
}

aside {
    width: 30%;
    display: block;
}

.content {
    width: 65%;
}

.btn.inner {
    width: fit-content;
    font-size: 24px;
    padding: 16px;
    margin: 10px 0;
}

ul.color-blocks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;
}

ul.color-blocks li {
    width: 48%;
    height: 100px;
    background: #eee;
    margin-bottom: 20px;
    border-radius: 6px;
}

ul.color-blocks li.brown {
    background: brown;
}

ul.color-blocks li.wine {
    background: red;
}

ul.color-blocks li.petrol {
    background: darkgreen;
}

ul.color-blocks li.sand {
    background: sandybrown;
}

h3 {
    color: #444;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 25px;
}

.content p {
    font-size: 18px;
    line-height: 32px;
    margin: 25px 0;
    color: #444;
}

.about {
    background: #fff;
    box-shadow: 0px 4px 2px 0px #ccc;
    padding: 50px 0;
}

footer {
    padding: 50px 0;
    line-height: 32px;
    font-size: 16px;
    color: #444;
}

footer a {
    color: inherit;
}

.quarter {
    width: 25%;
}

.legal {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}